---
import {Image} from "astro:assets"
const {imagen, titulo, eslogan} = Astro.props
---
<section class="h-screen relative">
    <div class="absolute inset-0 z-0">
        <Image
                src={imagen}
                alt="Fondo del Liceo de Cultura"
                class="w-full h-full object-cover"
        />
    </div>
    <div class="absolute inset-0 bg-black/30 z-10"></div>
        {/*TITULO Y SLOGAN*/}
    <div class="relative z-20 h-full flex flex-col items-center justify-center gap-6 px-4">
        <div class="px-12 py-2 rounded-2xl shadow-2xl">
            <h1 class="text-center text-8xl font-black text-white text-shadow">{titulo}</h1>
        </div>
        <p class="text-center text-white font-bold text-4xl text-shadow">
            {eslogan}
        </p>
    </div>
</section>