---
import Layout from "../layouts/Layout.astro"
import HeroSubPaginasComponent from "../components/ui/HeroSubPaginasComponent.astro"
import FormularioComponent from "../components/contactos/FormularioComponent.astro"

const listaDeHorarios = [
    { dia: "Lunes a Viernes", hora: "8:00 - 17:00" },
    { dia: "Sábados", hora: "9:00 - 13:00" },
    { dia: "Domingos y Festivos", hora: "Cerrado" }
];
---
<Layout>
    <HeroSubPaginasComponent titulo="Contacto" subtitulo=" Estamos aquí para responder tus consultas y ayudarte en tu proceso de admisión" />
    <section class="py-16 ">
        <div class="max-w-4xl mx-auto px-6 ">
                <FormularioComponent titulo="Envíanos un Mensaje" subtitulo="Completa el siguiente formulario y nos pondremos en contacto contigo a la brevedad."/>
        </div>
    </section>
</Layout>