---
import {Image} from "astro:assets"
import ImgSrc from "../../assets/images/general/logo.png"
---
<div class="flex-shrink-0">
    <a href="/">
        <Image
                src={ImgSrc}
                alt="Liceo de Cultura Logo"
                class="max-h-14 w-auto object-contain"
        />
    </a>
</div>